<div class="wrapper">
    <section>
        <p>
            Angular does not have any abstractions over Geolocation API. This library
            provides you similar-observable service to use this API with Angular of 6+
            version.
        </p>
    </section>

    <pre><code [highlight]="sample">
        {{samples}}
    </code></pre>

    <div *ngIf="!!error">Sorry, position is not avalibale: {{ error.message }}</div>

    <section class="current-position">
        <button class="primary-button" (click)="getCurrentPosition()">
            Get my position!
        </button>

        <iframe
            *ngIf="!!currentPositionUrl"
            width="425"
            height="350"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            [src]="currentPositionUrl"
        ></iframe>
    </section>

    <section class="watch-position">
        <div class="switch-container">
            <label for="switcher" class="switch-container__text">watch me</label>
            <label class="switch">
                <input id="switcher" type="checkbox" (click)="toggleWatch()" />
                <span class="slider round"></span>
            </label>
        </div>

        <app-map *ngIf="!!position" [coordinatesChange]="position"></app-map>
        <ul *ngIf="!!position" class="coordinates">
            coordinates:

            <li>latitude: {{ position.coords.latitude }}</li>
            <li>longitude: {{ position.coords.longitude }}</li>
            <li>timestamp: {{ position.timestamp }}</li>
        </ul>
    </section>
</div>
