<header>
    <h1>@ng-web-apis/geolocation demo</h1>
</header>

<main>
    <section>
        <p>
            This is a demo for <code>@ng-web-apis/geolocation</code> - a simple library
            that allows you to retrieve geolocation just by using a similar-observable
            service
        </p>
    </section>

    <section class="current-position">
        <button class="primary-button" (click)="getCurrentPosition()">
            Get my position!
        </button>

        <iframe
            *ngIf="!!currentPositionUrl"
            width="425"
            height="350"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            [src]="currentPositionUrl"
        ></iframe>
    </section>

    <section class="watch-position">
        <div class="switch-container">
            <label for="switcher" class="switch-container__text">watch me</label>
            <label class="switch">
                <input id="switcher" type="checkbox" (click)="toggleWatch()" />
                <span class="slider round"></span>
            </label>
        </div>

        <ul *ngIf="!!positions" class="coordinates">
            coordinates:

            <li>latitude: {{ positions.coords.latitude }}</li>
            <li>longitude: {{ positions.coords.longitude }}</li>
            <li>timestamp: {{ positions.timestamp }}</li>
        </ul>
    </section>
</main>

<footer>
    Get it here: <a href="https://github.com/ng-web-apis/geolocation">GitHub</a>
</footer>
